@use "../../styles/variables" as v;

.searchBar {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;

  input {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: v.$radius-pill;
    border: none;
    background-color: v.$white-transparent;
    color: v.$primary-color;
    font-size: 1rem;

    &::placeholder {
      color: v.$white-transparent-placeholder;
    }
  }

  button {
    padding: 0.8rem 1.5rem;
    background-color: v.$primary-color;
    color: white;
    border: none;
    border-radius: v.$radius-pill;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: v.$primary-dark;
    }
  }
}
